@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits PanelComponent;

<root class="fps-hud debug">

	<div class="crosshair debug">+</div>

	<div class="player-info">
		<div class="healthbar" style="width: @(GetCurrentHealth())%"></div>
	</div>

	<div class="weapon-info debug @(GetWeaponInfoClass())">
		<div class="name">
			@(GetName())
		</div>
		<div class="info">
			<div class="ammo">@(GetAmmo())</div>
			<div class="reserves">@(GetReserves())</div>
		</div>

	</div>	

</root>

@code {

	[Property] public FPSWeaponController FpsWeaponController { get; set; }
	[Property] public FPSHealthController FpsHealthController { get; set; }

	protected String GetWeaponInfoClass()
	{
		var selectedWep = FpsWeaponController.SelectedWeapon;
		return (selectedWep == null) ? "hidden" : "";
	}
	protected String GetName()
	{
		var selectedWep = FpsWeaponController.SelectedWeapon;
		return (selectedWep != null) ? $"{selectedWep.Name}" : "Holstered";

	}

	protected String GetAmmo()
	{
		var selectedWep = FpsWeaponController.SelectedWeapon;
		return (selectedWep != null) ? $"{selectedWep.CurrentAmmo}" : "0";

	}

	protected String GetReserves()
	{
		var selectedWep = FpsWeaponController.SelectedWeapon;
		return (selectedWep != null) ? $"{selectedWep.CurrentReserves}" : "0";

	}

	protected String GetCurrentHealth()
	{
		return $"{FpsHealthController.CurrentHealth}";
	}

	protected override int BuildHash() => System.HashCode.Combine($"{FpsHealthController.CurrentHealth} {FpsWeaponController.SelectedWeapon?.CurrentAmmo}");
}
